<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>


</head>

<body>
<p>
this is a paragraph
</p>
<ul>
<li>break fast

          <ul>
             <li>orange juice</li>
            <li>eggs</li>
            <li>bread</li>
         </ul>
         <ul>
            <li>english bread</li>
            <li>arabic bread</li>
         </ul>
  
</li>

<li>
lounch
 <ul>
      <li>orange juice</li>
         <li>meat</li>
         <li>bread</li>
  </ul>
</li>
</ul>

</body>

</html>