<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>


</head>

<body>
<table>
<caption>Nutritional Information (Calorie and Fat
Content)</caption>
<col span="1" class="itemname">
<colgroup id="data">
<col span="1" class="calories">
<col span="1" class="fat">
</colgroup>
<thead>
<tr>
<th scope="col">Menu item</th>
<th scope="col">Calories</th>
<th scope="column">Fat (g)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Chicken noodle soup</td>
<td>120</td>
<td>2</td>
</tr>
<tr>
<td>Caesar salad</td>
<td>400</td>
<td>26</td>
</tr>
</tbody>
</table>


</body>

</html>