<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>


</head>

<body>
<table border="1">
    <caption>My healthy list</caption>
<thead>
<tr>
<th id ="menuitem">Menu item</th>
<th id="calories">Calories</th>
<th id="fats">Fat (g)</th>
</tr>
    </thead>
    <tfoot>
    <tr><td colspan="3"> Data from <a href="http://www.census.gov" >United States</a></td> 
    </tr>
    </tfoot> 
    <tbody>
<tr>
<th id="chnoodles" headers="menuitem">Chicken noodle soup</th>
<td headers="chnoodlescalories">120</td>
<td headers="chnoodlesfats">2</td>
</tr>
<tr>
<th id="cesorsalad" headers="menuitem">Caesar salad</th>
<td headers="cesorsaladcalories">400</td>
<td headers="cesorsaladfats">26</td>
</tr>
    
<tr>
 <th id="mjadara" headers="menuitem">Mjadara</th>
<td headers="mjadaracalories">350</td>
<td headers="mjadarafats">5</td>
</tr>
        </tbody>
</table>


</body>

</html>