<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="description" content="">
<meta name="keywords" content="">
<title>Black Goose Bistro</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>


</head>

<body>

    
<div class="container">
    <div class="batta">
        <div class="batta1">
            <img src="images/blackgoose.png" alt="lackgoose.png" height="42" width="42"> </div>
        <div class="batta2">
            <h1>the black goose </h1></div>
    
   
    
    </div>
    
 
    <br/>
      
   <nav>
    <ul>
    <li><a href="#">about</a> </li>
    <li><a href="#">Our Services</a></li>
    <li><a href="#">Contact us</a></li>
       
       
       
       </ul></nav>
    <div class="theinside">
     <h2>The restaurant</h2> 
    The Black Goose Bistro offers casual lunch and dinner fare in a hip atmosphere.The menu change regualarly to highlight the freshest ingredients
     <h2>Catering</h2>
    you have fun ...we'll handle the cooking.BlackGoose Catering can handle events from snacks for bridge 
    club to elegent corporate fundraisers
     <h2>Location and Hours </h2>
    seekonik , massachusetts 
    Monday through Thursday 11am to 9 pm
    Friday and Saturday 11 am to midnight 
   
  </div>

    </div>
</body>
</html>