<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Blue Print example</title>
    <link rel="stylesheet" href="blueprint/screen.css" media="screen,projection" />
    <link rel="stylesheet" href="blueprint/print.css" media="print" />
    <link rel="stylesheet" href="blueprint/styleblue.css" media="screen" />
    <!--[if IE]-->
    <link rel="stylesheet" href="blueprint/ie.css" media="screen,projection" />
    <!--[endif]-->

  </head>

  <body>
    <div class="container showgrid">
      <p> this is the main container</p>
      <!--this is a headerbaner-->
      <header class="span-24">
        <p>this is the header</p>

      </header>
      <main class="span-24">
        <p>this is the main header</p>
      </main>
      <nav class="span-24">
        <p>this si the navigation</p>
      </nav>
      <aside class="span-6">
        <p>this is the left side</p>
      </aside>
      <article class="span-12">
        <p>this is the middle side</p>
      </article>
      <aside class="span-6 last">
        <p>this is the right side</p>
      </aside>

      <section class="span-6">
        <p>this is the section1</p>
      </section>
      <section class="span-6">
        <p>this is the section2</p>
      </section>
      <section class="span-6">
        <p>this is the section3</p>
      </section>
      <section class="span-6 last">
        <p>this is the section4</p>
      </section>
      <section class="span-8">
        <p> this is another div1</p>
      </section>
      <section class="span-8">
        <p> this is another div2</p>
      </section>
      <section class="span-8 last">
        <p> this is another div3</p>
      </section>
      <footer class="span-24">
        <p>this is the main footer</p>
      </footer>


    </div>
  </body>

</html>
