<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>
<style>
span.disclaimer {
float: right;
margin: 10px;
width: 200px;
color: #FFF;
background-color: #9D080D;
padding: 4px;
}   

p {
padding: 15px;
background-color: #FFF799;

    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 500px;
height: 150px;
    
    
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
}  
}
</style>

</head>

<body>
<p><span class="disclaimer">Disclaimer: The existence of silver,
gold, and diamond trees is not confirmed.</span> They went down,
down, down, till at last they came to a passage... </p>


</body>

</html>