<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>

<style>
    
 ul.grid li {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: thick solid yellow;
  margin: 5px;
  background-color: white;
}

ul.grid {
  background-color: blue;
}
</style>
</head>

<body>
<ul class="grid">
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
  <li>Five</li>
  <li>Six</li>
  <li>Seven</li>
  <li>Eight</li>
  <li>Nine</li>
  <li>Ten</li>
  <li>Eleven</li>
  <li>Twelve</li>
</ul>


</body>

</html>