<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>


</head>

<body>
<form action="somesite.php" method="POSt">
<p>What 80s bands did you listen to?
<select name="EightiesBands" size="6" multiple>
<option>The Cure</option>
<option>Cocteau Twins</option>
<option selected>Tears for Fears</option>
<option selected>Thompson Twins</option>
<option value="EBTG">Everything But the Girl</option>
<option>Depeche Mode</option>
<option>The Smiths</option>
<option>New Order</option>
</select>
</p>    
</form>
<input type="submit" value="OK">
<input type="reset">

</body>

</html>