<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>


</head>

<body>
<form action="somesite.php" method="POSt">
<p>What 80s bands did you listen to?
<select name="icecream" size="5" multiple>
<optgroup label="traditional">
<option>vanilla</option>
<option>chocolate</option>
</optgroup>
<optgroup label="fancy">
<option>Super praline</option>
<option>Nut surprise</option>
<option>Candy corn</option>
</optgroup>
</select>
</p>    
</form>
<input type="submit" value="OK">
<input type="reset">

</body>

</html>