<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">


    <title>Vegatable</title>
    <link rel="stylesheet" type="text/css" href="style5.css">

  </head>

  <body>
    <div id="container">
      <diV id="mainheader">
        <p>this is main header</p>

      </div>
      <div id="mainmenu">
        <div id="menu" class="container">
          <ul>
            <li class="current_page_item"><a href="#">Homepage</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div id="wrapper">
          <div class="col col1">
            <h1>this is column1</h1>
          </div>

          <div class="col col2">
            <div class="inner">
              <img class="imgbox" src="http://cscie12.dce.harvard.edu/resources/images/logo-js.png" alt="HTML5 logo" />
              <p>JavaScript is a cross-platform, object-oriented scripting language. It is a small and lightweight language. Inside a host environment (for example, a web browser), JavaScript can be connected to the objects of its environment to provide
                programmatic control over them.</p>

              <p><em>Client-side JavaScript</em> extends the core language by supplying objects to control a browser and its Document Object Model (DOM). For example, client-side extensions allow an application to place elements on an HTML form and respond
                to user events such as mouse clicks, form input, and page navigation.</p>
            </div>
              <hr>
            <div class="inner">
              <img class="imgbox" src="http://cscie12.dce.harvard.edu/resources/images/logo-css3.png" alt="HTML5 logo" />
              <p>Style sheets describe how documents are presented on screens, in print, or perhaps how they are pronounced. Cascading Style Sheets (CSS) is a style sheet mechanism that has been specifically developed to meet the needs of Web designers and
                users.</p>
            </div>


          </div>

          <div class="col col3">
            <h1>this is column3</h1>
          </div>

        </div>



        <div id="footerwrapper">

          <div class="box box1">
            <p>this is a paragraph footer1</p>
          </div>
          <div class="box box2">
            <p>this is a paragraph footer2</p>
          </div>
          <div class="box box3">
            <p>this is a paragraph footer3</p>
          </div>

        </div>

      </div>

    </div>

  </body>

</html>
