<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<!-- w3schools-->
<style>
body {margin:0;}

.icon-bar {
    width: 120px;
    text-align: center;
    background-color: #555;
    overflow: auto;
    
}

.icon-bar a {
    width: 60px;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    border-radius: 5em;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
</style>
<body>

<div class="icon-bar">
  <a><i class="fa fa-facebook"></i></a> 
  
  <a href="#"><i class="fa fa-twitter"></i></a> 
 
</div>
      
</body>
</html> 
