<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>
<style>
body {
  font-family: helvetica, sans-serif;
}

a:link {
  text-decoration: none;
  color: chocolate;
  background-color: none;
}

a:visited {
  text-decoration: none;
  color: darkseagreen;
  background-color: none;
}

a:hover {
  text-decoration: none;
  color: darkseagreen;
  background-color:none;
}

a:active {
  text-decoration: underline;
  color: chocolate;
  background-color: none;
}    
</style>

</head>

<body>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus neque malesuada quam commodo, a mollis velit suscipit. Donec ornare quam sapien, sed vulputate mauris feugiat eu. <a href="#">In hac habitasse platea dictumst</a>. Sed vel dolor
  pellentesque lectus tempor rutrum in in ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</p>
<ul>
  <li><a href="#">Lorem ipsum dolor sit amet</a></li>
  <li><a href="#">Curabitur interdum neque</a></li>
  <li><a href="#">Aenean pellentesque </a></li>
  <li><a href="#">Nam condimentum purus</a></li>

</ul>
<p>
  Ut id nulla velit.Nam suscipit, neque id volutpat hendrerit, magna leo blandit velit, eget blandit lectus nulla sit amet nisi. <a href="#">Maecenas mattis accumsan erat</a> et volutpat. Proin ullamcorper, nulla a maximus mattis, velit dolor faucibus
  risus, a elementum ante dolor in felis.
</p>



</body>

</html>