<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>
<style>
ul#extglobalnav {
  list-style: none;
  padding-left: 0;
}

ul#extglobalnav li {
  display: inline-block;
  width: 8em;
  border: thin solid black;
  margin-right: 3px;
  text-align: center
}
</style>

</head>

<body>
<ul id="extglobalnav">
  <li>About</li>
  <li>Calendar</li>
  <li>Courses</li>
  <li>Contact Us</li>
  <li>Faculty Directory</li>
  <li>Login</li>
</ul>


</body>

</html>