<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>
<style>
p {

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 500px;
height: 150px;
    padding: .5em;
    color:brown;
    background-color: antiquewhite;
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
}   
    
</style>

</head>

<body>
<p>
this is a paragraph
</p>


</body>

</html>