<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/responsivestyle.css">
    
 
    <title>Responsive Navigation</title>
<style>
    nav > span{
        display: none;
        
    }
    </style>

</head>

<body>
<header>
<div id="top-wrapper">
<div id="logo"><a href="#">LOGO</a></div>
<nav><span>MENU</span>

<ul>
<li><a href="#">home</a></li>
<li><a href="#">about</a></li>
<li><a href="#">products</a></li>
<li><a href="#">services</a></li>
<li><a href="#">contacts</a></li>    
</ul>
</nav>
</div>
</header>
</body>
</html>