<!DOCTYPE HTML>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>United States Senate</title><style type="text/css">
	    * {font-family: Calibri,Tahoma,Verdana,Helvetica,sans-serif;}
	    body {background-color: white;}
	    table { width: 100%; }
	    table thead tr th {background-color: #cccccc;}
	    td, th { color: black; }
	    table {border: medium solid black; border-collapse: collapse; margin-bottom: 5px;}
	    table td, table th {border-bottom: thin solid black; border-right: thin solid black; padding: .25em;}
	    tr.evenRow td {background-color: #fcc;}
	    tr.oddRow td {background-color: #9cf;}
	</style><script type="text/javascript">function stripeTable(tableid) {
var mytable = document.getElementById(tableid);
// get tbody (i.e. we don't want to stripe the thead)
var mytbody = mytable.getElementsByTagName('tbody');
/*   getElementsByTagName gives us a Node List, so we need
 to access it as a list (Array), arrayname[i].
 Find all the tr within the tbody
*/                                    
var myrows =  mytbody[0].getElementsByTagName('tr');
/*  Iterate over the node list of "tr" returned, setting
    the class appropriately
*/
for(var i=0; i<myrows.length; i++) {
			        if ((i+1) % 2 == 0) {
			        // even rows
			        myrows[i].setAttribute('class','evenRow');
			        } else {
			        // odd rows
			        myrows[i].setAttribute('class','oddRow');
			        }
			      }
}</script></head>
   <body onload="stripeTable('senatetable')">
      <h1>United States Senate</h1>
      <table id="senatetable" class="tablesorter">
         <thead>
            <tr>
               <th>Name</th>
               <th>State</th>
               <th>Party</th>
               <th>Birthday</th>
               <th>Gender</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Alexander, Lamar</td>
               <td>TN</td>
               <td>Republican</td>
               <td>1940-07-03</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Ayotte, Kelly</td>
               <td>NH</td>
               <td>Republican</td>
               <td>1968-06-27</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Baldwin, Tammy</td>
               <td>WI</td>
               <td>Democrat</td>
               <td>1962-02-11</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Barrasso, John</td>
               <td>WY</td>
               <td>Republican</td>
               <td>1952-07-21</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Bennet, Michael</td>
               <td>CO</td>
               <td>Democrat</td>
               <td>1964-11-28</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Blumenthal, Richard</td>
               <td>CT</td>
               <td>Democrat</td>
               <td>1946-02-13</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Blunt, Roy</td>
               <td>MO</td>
               <td>Republican</td>
               <td>1950-01-10</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Booker, Cory</td>
               <td>NJ</td>
               <td>Democrat</td>
               <td>1969-04-27</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Boozman, John</td>
               <td>AR</td>
               <td>Republican</td>
               <td>1950-12-10</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Boxer, Barbara</td>
               <td>CA</td>
               <td>Democrat</td>
               <td>1940-11-11</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Brown, Sherrod</td>
               <td>OH</td>
               <td>Democrat</td>
               <td>1952-11-09</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Burr, Richard</td>
               <td>NC</td>
               <td>Republican</td>
               <td>1955-11-30</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Cantwell, Maria</td>
               <td>WA</td>
               <td>Democrat</td>
               <td>1958-10-13</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Capito, Shelley</td>
               <td>WV</td>
               <td>Republican</td>
               <td>1953-11-26</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Cardin, Benjamin</td>
               <td>MD</td>
               <td>Democrat</td>
               <td>1943-10-05</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Carper, Thomas</td>
               <td>DE</td>
               <td>Democrat</td>
               <td>1947-01-23</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Casey, Robert</td>
               <td>PA</td>
               <td>Democrat</td>
               <td>1960-04-13</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Cassidy, Bill</td>
               <td>LA</td>
               <td>Republican</td>
               <td>1957-09-28</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Coats, Daniel</td>
               <td>IN</td>
               <td>Republican</td>
               <td>1943-05-16</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Cochran, Thad</td>
               <td>MS</td>
               <td>Republican</td>
               <td>1937-12-07</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Collins, Susan</td>
               <td>ME</td>
               <td>Republican</td>
               <td>1952-12-07</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Coons, Chris</td>
               <td>DE</td>
               <td>Democrat</td>
               <td>1963-09-09</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Corker, Bob</td>
               <td>TN</td>
               <td>Republican</td>
               <td>1952-08-24</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Cornyn, John</td>
               <td>TX</td>
               <td>Republican</td>
               <td>1952-02-02</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Cotton, Tom</td>
               <td>AR</td>
               <td>Republican</td>
               <td>1977-05-13</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Crapo, Michael</td>
               <td>ID</td>
               <td>Republican</td>
               <td>1951-05-20</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Cruz, Ted</td>
               <td>TX</td>
               <td>Republican</td>
               <td>1970-12-22</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Daines, Steve</td>
               <td>MT</td>
               <td>Republican</td>
               <td>1962-08-20</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Donnelly, Joe</td>
               <td>IN</td>
               <td>Democrat</td>
               <td>1955-09-28</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Durbin, Richard</td>
               <td>IL</td>
               <td>Democrat</td>
               <td>1944-11-21</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Enzi, Michael</td>
               <td>WY</td>
               <td>Republican</td>
               <td>1944-02-01</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Ernst, Joni</td>
               <td>IA</td>
               <td>Republican</td>
               <td>1970-07-01</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Feinstein, Dianne</td>
               <td>CA</td>
               <td>Democrat</td>
               <td>1933-06-22</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Fischer, Deb</td>
               <td>NE</td>
               <td>Republican</td>
               <td>1951-03-01</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Flake, Jeff</td>
               <td>AZ</td>
               <td>Republican</td>
               <td>1962-12-31</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Franken, Alan</td>
               <td>MN</td>
               <td>Democrat</td>
               <td>1951-05-21</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Gardner, Cory</td>
               <td>CO</td>
               <td>Republican</td>
               <td>1974-08-22</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Gillibrand, Kirsten</td>
               <td>NY</td>
               <td>Democrat</td>
               <td>1966-12-09</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Graham, Lindsey</td>
               <td>SC</td>
               <td>Republican</td>
               <td>1955-07-09</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Grassley, Charles</td>
               <td>IA</td>
               <td>Republican</td>
               <td>1933-09-17</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Hatch, Orrin</td>
               <td>UT</td>
               <td>Republican</td>
               <td>1934-03-22</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Heinrich, Martin</td>
               <td>NM</td>
               <td>Democrat</td>
               <td>1971-10-17</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Heitkamp, Heidi</td>
               <td>ND</td>
               <td>Democrat</td>
               <td>1955-10-30</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Heller, Dean</td>
               <td>NV</td>
               <td>Republican</td>
               <td>1960-05-10</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Hirono, Mazie</td>
               <td>HI</td>
               <td>Democrat</td>
               <td>1947-11-03</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Hoeven, John</td>
               <td>ND</td>
               <td>Republican</td>
               <td>1957-03-13</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Inhofe, James</td>
               <td>OK</td>
               <td>Republican</td>
               <td>1934-11-17</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Isakson, John</td>
               <td>GA</td>
               <td>Republican</td>
               <td>1944-12-28</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Johnson, Ron</td>
               <td>WI</td>
               <td>Republican</td>
               <td>1955-04-08</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Kaine, Timothy</td>
               <td>VA</td>
               <td>Democrat</td>
               <td>1958-02-26</td>
               <td>M</td>
            </tr>
            <tr>
               <td>King, Angus</td>
               <td>ME</td>
               <td>Independent</td>
               <td>1944-03-31</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Kirk, Mark</td>
               <td>IL</td>
               <td>Republican</td>
               <td>1959-09-15</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Klobuchar, Amy</td>
               <td>MN</td>
               <td>Democrat</td>
               <td>1960-05-25</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Lankford, James</td>
               <td>OK</td>
               <td>Republican</td>
               <td>1968-03-04</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Leahy, Patrick</td>
               <td>VT</td>
               <td>Democrat</td>
               <td>1940-03-31</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Lee, Mike</td>
               <td>UT</td>
               <td>Republican</td>
               <td>1971-06-04</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Manchin, Joe</td>
               <td>WV</td>
               <td>Democrat</td>
               <td>1947-08-24</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Markey, Edward</td>
               <td>MA</td>
               <td>Democrat</td>
               <td>1946-07-11</td>
               <td>M</td>
            </tr>
            <tr>
               <td>McCain, John</td>
               <td>AZ</td>
               <td>Republican</td>
               <td>1936-08-29</td>
               <td>M</td>
            </tr>
            <tr>
               <td>McCaskill, Claire</td>
               <td>MO</td>
               <td>Democrat</td>
               <td>1953-07-24</td>
               <td>F</td>
            </tr>
            <tr>
               <td>McConnell, Mitch</td>
               <td>KY</td>
               <td>Republican</td>
               <td>1942-02-20</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Menéndez, Robert</td>
               <td>NJ</td>
               <td>Democrat</td>
               <td>1954-01-01</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Merkley, Jeff</td>
               <td>OR</td>
               <td>Democrat</td>
               <td>1956-10-24</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Mikulski, Barbara</td>
               <td>MD</td>
               <td>Democrat</td>
               <td>1936-07-20</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Moran, Jerry</td>
               <td>KS</td>
               <td>Republican</td>
               <td>1954-05-29</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Murkowski, Lisa</td>
               <td>AK</td>
               <td>Republican</td>
               <td>1957-05-22</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Murphy, Christopher</td>
               <td>CT</td>
               <td>Democrat</td>
               <td>1973-08-03</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Murray, Patty</td>
               <td>WA</td>
               <td>Democrat</td>
               <td>1950-10-11</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Nelson, Bill</td>
               <td>FL</td>
               <td>Democrat</td>
               <td>1942-09-29</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Paul, Rand</td>
               <td>KY</td>
               <td>Republican</td>
               <td>1963-01-07</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Perdue, David</td>
               <td>GA</td>
               <td>Republican</td>
               <td>1949-12-10</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Peters, Gary</td>
               <td>MI</td>
               <td>Democrat</td>
               <td>1958-12-01</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Portman, Robert</td>
               <td>OH</td>
               <td>Republican</td>
               <td>1955-12-19</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Reed, John</td>
               <td>RI</td>
               <td>Democrat</td>
               <td>1949-11-12</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Reid, Harry</td>
               <td>NV</td>
               <td>Democrat</td>
               <td>1939-12-02</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Risch, James</td>
               <td>ID</td>
               <td>Republican</td>
               <td>1943-05-03</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Roberts, Pat</td>
               <td>KS</td>
               <td>Republican</td>
               <td>1936-04-20</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Rounds, Mike</td>
               <td>SD</td>
               <td>Republican</td>
               <td>1954-10-24</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Rubio, Marco</td>
               <td>FL</td>
               <td>Republican</td>
               <td>1971-05-28</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Sanders, Bernard</td>
               <td>VT</td>
               <td>Independent</td>
               <td>1941-09-08</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Sasse, Benjamin</td>
               <td>NE</td>
               <td>Republican</td>
               <td>1972-02-22</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Schatz, Brian</td>
               <td>HI</td>
               <td>Democrat</td>
               <td>1972-10-20</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Schumer, Charles</td>
               <td>NY</td>
               <td>Democrat</td>
               <td>1950-11-23</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Scott, Tim</td>
               <td>SC</td>
               <td>Republican</td>
               <td>1965-09-19</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Sessions, Jefferson</td>
               <td>AL</td>
               <td>Republican</td>
               <td>1946-12-24</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Shaheen, Jeanne</td>
               <td>NH</td>
               <td>Democrat</td>
               <td>1947-01-28</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Shelby, Richard</td>
               <td>AL</td>
               <td>Republican</td>
               <td>1934-05-06</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Stabenow, Debbie</td>
               <td>MI</td>
               <td>Democrat</td>
               <td>1950-04-29</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Sullivan, Dan</td>
               <td>AK</td>
               <td>Republican</td>
               <td>1964-11-13</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Tester, Jon</td>
               <td>MT</td>
               <td>Democrat</td>
               <td>1956-08-21</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Thune, John</td>
               <td>SD</td>
               <td>Republican</td>
               <td>1961-01-07</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Tillis, Thom</td>
               <td>NC</td>
               <td>Republican</td>
               <td>1960-08-30</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Toomey, Patrick</td>
               <td>PA</td>
               <td>Republican</td>
               <td>1961-11-17</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Udall, Tom</td>
               <td>NM</td>
               <td>Democrat</td>
               <td>1948-05-18</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Vitter, David</td>
               <td>LA</td>
               <td>Republican</td>
               <td>1961-05-03</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Warner, Mark</td>
               <td>VA</td>
               <td>Democrat</td>
               <td>1954-12-15</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Warren, Elizabeth</td>
               <td>MA</td>
               <td>Democrat</td>
               <td>1949-06-22</td>
               <td>F</td>
            </tr>
            <tr>
               <td>Whitehouse, Sheldon</td>
               <td>RI</td>
               <td>Democrat</td>
               <td>1955-10-20</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Wicker, Roger</td>
               <td>MS</td>
               <td>Republican</td>
               <td>1951-07-05</td>
               <td>M</td>
            </tr>
            <tr>
               <td>Wyden, Ron</td>
               <td>OR</td>
               <td>Democrat</td>
               <td>1949-05-03</td>
               <td>M</td>
            </tr>
         </tbody>
      </table>
   </body>
</html>