<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>


</head>

<body>
<form action="/opinion.php" method="post">
<p><label>Official contest entry: <br>
<em>Tell us why you love the band. Five winners will get backstage
passes!</em><br>
<textarea name="contest_entry" rows="5" cols="50">The band is totally
awesome!</textarea></label></p>
<p>Official contest entry:<br>
<em>Tell us why you love the band. Five winners will get backstage
passes!</em><br>
<textarea name="contest_entry" placeholder="50 words or less">
</textarea>
</p>    

</form>


</body>

</html>