<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
 
    <title>Bootstrap Starter Template</title>
<style>
#container {
overflow: auto;
width: 100%;
background-color: #GGG;
padding: 1em;
}    
</style>

</head>

<body>
<p class="container">
e care about what goes into your body!

We care about our collective action on the environment!

     1.  Bring in your own travel mug and we'll take 20 cents off your drink.

     2.  We seek to avoid unnecessary garbage--we do not hand out regular straws, grab one if you must.

     3.  Please do not take more napkins or sauces than you need.  We see so much of it going to waste. 

     4.  Please inform us if you have any food allergies prior to ordering your food
</p>


</body>

</html>