*{
margin:0;
padding:0;
}
nav li{
width:100%;
height:40px;
background:#272727;
}

nav a{
line-height:40px;
text-decoration:none;
color:#fff;
display:block;
float;
padding:0 20px;

}
.active{
background:orange;
}